@font-face {
    font-family: iransans;
    src: url('../fonts/IranSans.ttf');
}

body {
    text-align: right;
    direction: rtl;
    font-family: 'iransans' !important;
    text-align: justify;
    word-spacing: -1px;
    font-size: 15px;
    /* line-height: 10px; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'iransans' !important;
}