@font-face {
    font-family: iransans;
    src: url('../fonts/IranSans.ttf');
}

* {
    text-align: right;
    direction: rtl;
    font-family: 'iransans';
}

h1 {
    color: rgb(103, 165, 236);
    font-weight: 600;
}

img{
    margin-right: auto;
}

.on-title {
    border-color: 1px black solid;
}