@font-face {
    font-family: iransans;
    src: url('../fonts/IranSans.ttf');
}

body {
    text-align: right;
    direction: rtl;
    font-family: 'iransans' !important;
    text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'iransans' !important;
}

.dashboard-wrapper {
    margin-left: unset;
    margin-right: 264px;
}

.nav-left-sidebar {
    right: 0;
}

ul {
    padding-inline-start: 0;
}

.nav-left-sidebar .nav-link i {
    margin-right: unset;
    margin-left: 9px;
}

.nav-left-sidebar .nav-link[data-toggle="collapse"]::after {
    right: unset;
    left: 20px;
}

.nav-left-sidebar .nav-link[data-toggle="collapse"][aria-expanded="false"]:after {
    transform: rotate(90deg);
}

.dropdown-menu-right a {
    text-align: right;
}

.item-table-filter {
    float: right;
}

.text-muted {
    margin-bottom: 0px;
}

.dropdown-menu>li>a {
    padding-right: 5px;
}

.dropdown-menu.show {
    text-align: right;
}

.site-setting-area a {
    padding: 10px 5px;
}

.entry-title {
    font-family: 'iranSans';
}

.dropdown-menu-right {
    left: 0;
    right: unset;
}

.filter-option-inner-inner {
    text-align: right;
}

.custom-control-label::before {
    left: unset;
    right: 0;
}

.custom-control-label::after {
    left: unset;
    right: 0;
}

.custom-control-label::after {
    left: unset;
    right: 0;
}

.custom-control {
    padding-left: unset;
    padding-right: 1.5rem;
}

.cat-block-img {
    max-width: 100%;
}

.sg-post .category {
    bottom: unset;
    top: 15px;
}

.footer-top {
    padding-top: 20px;
}

.post-slider {
    margin-bottom: 5px;
}

.news-ticker {
    padding-left: unset !important;
}

.news-ticker li {
    padding: 0;
}

.slick-slide {
    margin: 0 3px;
}

.slick-list {
    margin: 0 -3px;
}

.post-slider .slick-list img {
    width: 640px;
    height: 360px;
}

.sg-search .form-control {
    border-color: #605b5b;
}

li .facebook:hover {
    background-color: #3B5998;
    color: #fff !important
}

li .twitter:hover {
    background-color: #1DA1F2;
    color: #fff !important
}

li .instagram:hover {
    background-color: #bd4c93;
    color: #fff !important
}

li .linkedin:hover {
    background-color: #0177b5;
    color: #fff !important
}

li .pinterest:hover {
    background-color: #bd081c;
    color: #fff !important
}

li .vk:hover {
    background-color: #4c75a3;
    color: #fff !important
}

li .whatsapp:hover {
    background-color: #29b346;
    color: #fff !important
}

li .telegram:hover {
    background-color: #08c;
    color: #fff !important
}

li .youtube:hover {
    background-color: #b00;
    color: #fff !important
}

li .rss:hover {
    background-color: #F8991D;
    color: #fff !important
}

li .print:hover {
    background-color: #979797;
    color: #fff !important
}

li .facebook {
    background-color: #3b5998;
    border: 1px solid #3b5998;
}

li .twitter {
    background-color: #55acee;
    border: 1px solid #55acee;
}

li .pinterest {
    background-color: #cb2027;
    border: 1px solid #cb2027;
}

li .instagram {
    background-color: #d64fa5;
    border: 1px solid #d64fa5;
}

li .linkedin {
    background-color: #007bb5;
    border: 1px solid #007bb5;
}

li .vk {
    background-color: #4D76A1;
    border: 1px solid #4D76A1;
}

li .rss {
    background-color: #F8991D;
    border: 1px solid #F8991D;
}

li .telegram {
    background-color: #0088cc;
    border: 1px solid #0088cc;
}

li .youtube {
    background-color: #ff0000;
    border: 1px solid #ff0000;
}

li .whatsapp {
    background-color: #1ac43f;
    border: 1px solid #1ac43f;
}

li .print {
    background-color: #a5a0a0;
    border: 1px solid #a5a0a0;
}

.social-btn {
    height: 38px;
    width: 38px;
    color: #fff;
    float: left;
    overflow: hidden;
    position: relative;
    border-radius: 0.25rem;
    line-height: 38px;
    text-align: center;
    font-size: 15px;
    -moz-transition: all .2s ease-in-out 0s;
    -webkit-transition: all .2s ease-in-out 0s;
    transition: all .2s ease-in-out 0s;
}

.social-box>li {
    margin-left: 2px;
    margin-right: 2px;
}

.tagcloud-style-1 a {
    background-color: var(--primary-color);
    color: white;
    font-size: 13px;
    margin-right: unset;
    margin-top: 2px;
    margin-bottom: 2px;
}

.tagcloud {
    margin-top: unset;
}

.tagcloud-style-1 {
    padding: 5px;
}

.section-title {
    margin-bottom: 5px;
}

img {
    border-radius: 5px;
}

.featured-post {
    border-radius: 5px;
}

.sg-search {
    margin-right: 10px;
}

.contact-form {
    margin-bottom: 20px;
}

.contact-form {
    padding: 5px;
}

.footer-widget button {
    border-color: white !important;
}

.bootstrap-tagsinput .badge [data-role="remove"] {
    margin-left: unset;
    margin-right: 8px;
}

.sg-menu {
    margin-bottom: 10px;
}

.entry-meta {
    margin-top: -3px !important;
}

.modal-header .close {
    margin-left: unset;
    margin-right: auto;
}

#selectAudio {
    margin-left: 25px;
}

.btn.btn-primary {
    letter-spacing: unset;
}

.label-table {
    line-height: unset !important;
}

.slimScrollBar {
    background-color: white !important;
    opacity: 0.6;
}

/* .section-box .mb-4 li:before, */
/* .tab-pane li:before, */
.side-bar li:before,
.sg-section ul[style*='margin-bottom: 5px'] li:before,
.sg-main-content li::before,
.sg-main-content .col-lg-12.pr-0 li:before,
.sg-sidebar li:before {
    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: var(--primary-color);
}

.scrollToTop a {
    height: 34px;
}

#switch-mode {
    background-color: var(--primary-color);
}

#switch-mode .sm-text {
    color: white;
}

#switch-mode .sm-button {
    background-color: #afc6d0;
}

.footer-top {
    padding-left: 5%;
    padding-right: 5%;
}

.footer-bottom {
    padding-left: 5%;
    padding-right: 5%;
}

.widget-title {
    border-radius: 5px;
}

.section-seprator {
    margin-bottom: 10px;
}

.section-seprator span {
    padding: 5px 10px;
    color: white;
    display: inline-block;
    margin-bottom: -1px;
}

.nav-tabs {
    border-bottom: 1px solid var(--primary-color);
}

.nav-link.active {
    border-color: var(--primary-color) !important;
}

.section-box {
    /* box-shadow: 0px 0px 10px black; */
    padding: 10px;
    margin: 10px 0px;
    border-radius: 4px;
    border: 2px solid;
}

input[name='email']::placeholder {
    color: white;
}

.sg-post.featured-post .entry-title {
    font-size: 20px;
}

.footer-top .footer-content a:hover {
    color: var(--second-color);
}

.entry-meta li a {
    color: white;
}

.rss-content-actual-link a.btn.btn-primary {
    letter-spacing: unset;
}

.sg-topbar {
    min-height: 50px;
}

.post-title {
    direction: rtl;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 45%;
    padding: 5px;
    font-size: 14px;
    color: white;
    display: flex;
    align-items: flex-end;
    border-radius: 0px 0px 5px 5px;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0.99) 100%);
}

.post-lable {
    position: absolute;
    top: 15px;
    right: 20px;
    padding: 2px 10px;
    font-size: 14px;
    color: white;
    background-color: var(--primary-color);
}

.section-seprator a {
    float: right;
}

.section-seprator .sg-breaking-news {
    margin-bottom: unset;
}

.news-ticker a {
    padding-top: 5px;
    margin-bottom: -5px;
}

.lightboxed--frame img {
    width: 70%;
    height: auto;
    margin-top: 10px;
}

#switch-mode {
    z-index: 100;
}

div#lightboxed--bttn_prev {
    z-index: 101;
}


/* ---------------------------------------------------------------------- */

@media only screen and (max-width: 480px) {
    .dashboard-wrapper {
        margin-right: 0px;
    }

    #sg-top {
        width: 100%;
        margin-left: 0 !important;
    }

    #sg-bottom {
        width: 100%;
        margin-right: 0 !important;
    }
}

@media only screen and (max-width: 768px) {
    .dashboard-wrapper {
        margin-right: 0px;
    }
}

@media only screen and (max-width: 991px) {
    #search-btn {
        padding-top: 15px;
    }
}
